<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AMSoftware.Quotes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <AMSoftware.Quotes.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Segoe UI Semibold, 12pt</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextAlignment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextShrinkToFit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundAlignment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundOpacity" serializeAs="String">
                <value>1</value>
            </setting>
        </AMSoftware.Quotes.Properties.Settings>
    </userSettings>
</configuration>
