<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AMSoftware.Quotes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <AMSoftware.Quotes.Properties.Settings>
            <setting name="QuotesPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="QuotesFont" serializeAs="String">
                <value>Segoe UI Semibold, 12pt</value>
            </setting>
            <setting name="QuotesColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="QuotesBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </AMSoftware.Quotes.Properties.Settings>
    </userSettings>
</configuration>
